@import "../assets/styles/Definitions";

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .story-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

    .image > img {
      width: 170px;
    }

    .story {
      padding: 0 100px;
      display: flex;
      flex-direction: column;
      align-items: center;

      > p.headline {
        margin: 70px 0 35px;
        font-family: "Caveat", sans-serif;
        font-size: 48px;
      }

      > p.text {
        font-family: "Caveat", sans-serif;
        font-size: 42px;
      }
    }
  }

  .info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .text {
      @include fontStyle1();
      text-align: center;
      align-self: center;
      flex: 2 0;
    }

    .image {
      align-self: center;
      flex: 1 0;
    }
  }

  .button-container {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 960px;
    display: flex;
    justify-content: center;
  }
}