.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-container .story-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.home-container .story-container .image > img {
    width: 170px;
}
.home-container .story-container .story {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-container .story-container .story > p.headline {
    margin: 70px 0 35px;
    font-family: "Caveat", sans-serif;
    font-size: 48px;
}
.home-container .story-container .story > p.text {
    font-family: "Caveat", sans-serif;
    font-size: 42px;
}
.home-container .info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.home-container .info-container  .text {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 2px;
    text-align: center;
    align-self: center;
    flex: 2 0;
}
.home-container .info-container  .image {
    align-self: center;
    flex: 1 0;
}
.home-container .button-container {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 960px;
    display: flex;
    justify-content: center;
}